@use 'primeflex/primeflex.scss';
@use 'primeicons/primeicons.css';
@use './reset.scss';
@use './variables.scss';
@use 'primevue/resources/themes/aura-light-green/theme.css';


@font-face {
    font-family: 'Arima';
    src: url('../fonts/Arima/Arima-VariableFont_wght.ttf');
    font-weight: normal;
}

.app-dark-texture-background {
    background-color: var(--app-dark-background);
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
}



#app {
    font-family: 'Arima';
    // min-width: 100vw;
    // min-height: 100vh;
    width: 100%;
    height: 100%;
    background-color: var(--app-background);
    display: flex;
    align-items: flex-start;
    justify-content: center;

}

.responsive-small-image {
    height: 2rem;
}

.responsive-big-image {
    max-width: 12rem;
    max-height: 12rem;
}

.up-element {
    position: relative;
    z-index: 2;
}

.up-element-2{
    position: relative;
    z-index: 10;
}

a {
    text-decoration: none;
    color: black;
    padding: 0.2rem;
}

.custom-button-light {
    font-family: 'Arima';
    background-color: var(--app-light-background);
    border: none;
    border-radius: 1rem;
    padding: 0.3rem 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        transform: scale(1.05);
        cursor: pointer;
        transition: 1.2s;
    }
}

.background-circle {
    position: absolute;
    width: 100vh;
    height: 100vh;
    background-color: var(--app-dark-background);
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
    border-radius: 50%;
    top: 50%;
    right: -60vh;
    transform: translateY(-95, -1);
    z-index: 1;
    top: -60vh;
    right: 50%;
    transform: translate(50%, 0);
}

.background-wallpaper {
    position: absolute;
    width: 100vw;
    height: 15rem;
    background-image: url('/stand2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    right: 0;
    z-index: 1;
}

@media (min-width: 500px) {
    .responsive-small-image {
        height: 3rem;
    }

    .responsive-big-image {
        max-width: 21rem;
        max-height: 21rem;
    }

    .background-circle {
        position: absolute;
        width: 100vh;
        height: 100vh;
        background-color: #333333;
        border-radius: 50%;
        top: 50%;
        right: -60vh;
        transform: translateY(-50%);
        z-index: 1;
    }
}


@media (min-width: 1024px) {
    .responsive-small-image {
        height: 3rem;
    }

    .responsive-big-image {
        max-width: 30rem;
        max-height: 30rem;
    }

    .background-circle {
        position: absolute;
        width: 120vh;
        height: 120vh;
        background-color: #333333;
        border-radius: 50%;
        top: 50%;
        right: -60vh;
        transform: translateY(-50%);
        z-index: 1;
    }
}


.teste {
    background-color: red !important;
}